$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary
);
$accordion-color: (
    "primary": $primary,
);

.image_background{
    width: 70%;
    height: 15rem;
    background-color: #5265E1;
    position:absolute;
    bottom: 0;
    z-index: -1;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    right: 0;
}

/*features*/

.active_link{
    border-bottom: solid 3px #FA5959 !important;
}
.image2_background{
    width: 85%;
    height: 15rem;
    background-color: #5265E1;
    bottom: 0;
    position: absolute;
    z-index: -1;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    left: 0;

}
.color_grey{
    color: grey;
}
.color_white{
    color: white;
}

/*downloadE*/

.downloadE{
    margin-top:5rem;
    text-align: center;
}

.card-text{
    color: grey;
    padding-bottom: 1rem;
}
.dots {
    border-top: 4px dotted grey;
    margin-bottom: 1rem;
    width: 100%;
    }


/*Questions*/

@media screen and (max-width:991px){
    .hero_text,.text_features,.text_download,.text_questions{
        text-align: center;
        margin-top: 3rem;
    }
}
@media screen and (max-width: 450px){
    

@import "../node_modules/bootstrap-scss/bootstrap";